@using MediSight_Project.Models
@model UserViewRoleFilter

@{
    ViewBag.Title = "List of Accounts";
}

<h2>List of Accounts</h2>
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />

@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <div class="form-group">
        <label for="SelectedRole">Filter by Role:</label>
        @Html.DropDownListFor(m => m.SelectedRole, Model.Roles, "All Roles", new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
}

<table class="table table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }

    </tbody>
</table>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap4.js")

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}

