@model MediSight_Project.Models.BookingUserView

@{
    ViewBag.Title = "Index";
}

<h2>Patient Bookings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <table class="table table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th>Email</th>
                <th>Booking Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.Bookings)
            {
                <tr>
                    <td>
                        @{
                            if (Model.UserNames.ContainsKey(booking.UserId))
                            {
                                @Model.UserNames[booking.UserId]
                            }
                            else
                            {
                                <span>User Not Found</span>
                            }
                        }
                    </td>
                    <td>
                        @booking.Time
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = booking.BookingId }) |
                        @Html.ActionLink("Details", "Details", new { id = booking.BookingId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = booking.BookingId })
                    </td>
                </tr>
            }
        </tbody>

    </table>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap4.js")

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />



