@model MediSight_Project.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RewiewText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RewiewText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RewiewRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RewiewRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
